* {
    font-family: 'Raleway', sans-serif;
}

.titletext {
    margin-top: 0;
    text-align: center;
}

body {
    background-color: #EDF7FA;
}

.form-element {
    margin: 20px;
}

.navbar-brand img {
    width: 35px;
    margin-top: -7px;
    display: inline-block;
}

.navbar-brand p {
    display: inline-block;
}
