#demo-img {
    display: block;
    margin: 0 auto;
    max-width: 30%;
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #EDF7FA;
}

.form-element {
    margin: 20px;
}

.navbar-brand img {
    width: 35px;
    margin-top: -7px;
    display: inline-block;
}

.navbar-brand p {
    display: inline-block;
    margin-top: -3px;
}