#wrapper {
    padding: 70px 3% 3%;
}

#example-heatmap-container {
    margin: 20px 0;
    text-align: center;
}

.example-heatmap {
    width: 30%;

}

.jumbotron {
    background-color: #EDE6F5;
}

.jumbotron h1, .jumbotron h2 {
    text-align: center;
}

#multi-layer-options {
    display: none;
}

form label {
    font-size: 18px;
}

/*sample images to choose */

.demo-img {
    width: 100%;
}

/* user didnt select image */
#no-image-selected-alert {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    display: none;
}