.wrapper {
    padding: 1%;
}

.homebutton {
    text-align: center;
}

.result {
    text-align: center;
}

.result-img-name {
    text-align: center;
    width: 80%;
    padding-bottom: 20px;
    margin: 0 auto 20px;
    border-bottom: 2px solid #d3d3d3;
}

.result-img {
    width: 80%;
}

.result-pred-scores {
    margin: 20px 0;
}

.row {
    padding: 2%;
}