<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HeatmapGen</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/spinner.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img style="width: 35px; margin-top: -7px" src="../static/home.png"/>
                <p>Demo</p>
            </a>
        </div>
    </div>
</nav>


<div class="container" id="wrapper">


    <div class="jumbotron">

        <h1>Heatmap Generator</h1>
        <h2>(demo on brain tissues)</h2>

        <div id="example-heatmap-container">

            <p>Example on a 27832 x 18867 tile</p>

            <img class="example-heatmap" src="../static/example_image_original.png">


            <img src="../static/arrow.png">


            <img class="example-heatmap" src="../static/example_image_heatmap.png">
        </div>

        <p>Works well with medical imaging or other images where spacial structure is not-important. Concretely, images
            that are comprised of repeated smaller images which are identifiable even if the entire image is not present
            are required.</p>

        <p><strong>Try:</strong></p>

        <p>Upload an image of your own or choose one below (multiple allowed) to view which parts of the image is
            classified as gray matter, white matter,
            oligodendroglioma (lesion), or just blank space</p>

        <p>A deep CNN model trained on images of size <b>512x512</b> is being called as an api for this demo. If an
            error appears, it is most likely because I have run out of credits. Check back the following month!</p>


        <p><a class="btn btn-primary btn-lg" href="https://github.com/kevinfaust0308/KerasImageHeatmapGenerator"
              role="button">View on github</a></p>
    </div>


    <form method="post" action="/" enctype="multipart/form-data">

        <div class="form-group form-element">
            <h3>1. Upload file(s) at least 512x512 pixels</h3><br>
            <input type="file" name="upload_img" multiple accept="image/*">

            <br>
            <h3>Or select sample images below (1024x1024 pixels)</h3>
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-check-label">
                        <input name='demo_img' class="form-check-input" type="checkbox" value="Lesion1.jpg">
                        Oligodendroglioma (lesion)
                    </label>
                    <img class='selected-demo-img demo-img' src="../static/Lesion1.jpg"/>
                </div>
                <div class="col-sm-4">
                    <label class="form-check-label">
                        <input name='demo_img' class="form-check-input" type="checkbox" value="Gray1.jpg">
                        Gray matter
                    </label>
                    <img class='demo-img' src="../static/Gray1.jpg"/>
                </div>
                <div class="col-sm-4">
                    <label class="form-check-label">
                        <input name='demo_img' class="form-check-input" type="checkbox" value="White1.jpg">
                        White matter
                    </label>
                    <img class='demo-img' src="../static/White1.jpg"/>
                </div>

            </div>

        </div>

        <hr>


        <div class="form-check form-element">
            <h3>2. Configurations</h3><br>
            <label class="form-check-label">
                <input name='multi' class="form-check-input" type="checkbox" id="multi-layer-checkbox">
                Generate multi-layered heatmap
            </label>
        </div>
        <div class="form-group form-element">
            <label for="example-number-input" class="col-2 col-form-label">Overlay transparency [0 (solid) - 1
                (transparent)]</label>
            <div class="col-10">
                <input name='overlay_alpha' class="form-control" type="number" value="0.3" step="0.01" max="1"
                       min="0"
                       id="example-number-input">
            </div>
        </div>

        <div class="form-group form-element" id="multi-layer-options">
            <label for="example-number-input" class="col-2 col-form-label">Number of classes to generate heatmaps
                on</label>
            <div class="col-10">
                <input name="show_top_x_classes" class="form-control" type="number" value="3" min="0" max="4"
                       id="example-number-input">
            </div>
        </div>

        <div class="form-group form-element" id="single-layer-options">
            <label for="exampleSelect1">View which areas of the image contain the selected class</label>
            <select name="heatmap_class" class="form-control" id="exampleSelect1">
                <option>Blank</option>
                <option>Gray Mat.</option>
                <option>Lesion</option>
                <option>White Mat.</option>
            </select>
        </div>

        <button id="generate-heatmap-btn" type="submit" class="btn btn-success form-element">Generate heatmap
        </button>

    </form>

</div>

<div id="overlay">
    <h3>Generating</h3>
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/app.js"></script>
</body>
</html>