<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/spinner.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img style="width: 35px; margin-top: -7px" src="../static/home.png"/>
                <p>Demo</p>
            </a>
        </div>
    </div>
</nav>


<div class="container" id="wrapper">


    <div class="jumbotron">

        <h1>Heatmap Generator</h1>

        <div id="example-heatmap-container">

            <p>Example on a 27832 x 18867 tile</p>

            <img class="example-heatmap" src="../static/example_image_original.png">


            <img src="../static/arrow.png">


            <img class="example-heatmap" src="../static/example_image_heatmap.png">
        </div>

        <p>Try:</p>

        <p>View which parts of the demo image below <b>(512x512)</b> is classified as gray matter, white matter,
            oligodendroglioma (lesion), or just blank space</p>

        <p>A deep CNN model trained on images of size <b>256x256</b> is being called as an api for this demo. If an
            error appears, it is most likely because I have run out of free credits for the month (sorry).</p>


        <p><a class="btn btn-primary btn-lg" href="https://github.com/kevinfaust0308/KerasImageHeatmapGenerator"
              role="button">View on github</a></p>
    </div>


    <img id='demo-img' src="../{{ img }}"/>

    <form method="post" action="/">

        <div class="form-check form-element">
            <label class="form-check-label">
                <input name='multi' class="form-check-input" type="checkbox" id="multi-layer-checkbox">
                Generate multi-layered heatmap
            </label>
        </div>
        <div class="form-group form-element">
            <label for="example-number-input" class="col-2 col-form-label">Overlay transparency [0 (solid) - 1
                (transparent)]</label>
            <div class="col-10">
                <input name='overlay_alpha' class="form-control" type="number" value="0.3" step="0.01" max="1"
                       min="0"
                       id="example-number-input">
            </div>
        </div>

        <div class="form-group form-element" id="multi-layer-options">
            <label for="example-number-input" class="col-2 col-form-label">Number of classes to generate heatmaps
                on</label>
            <div class="col-10">
                <input name="show_top_x_classes" class="form-control" type="number" value="3" min="0" max="4"
                       id="example-number-input">
            </div>
        </div>

        <div class="form-group form-element" id="single-layer-options">
            <label for="exampleSelect1">View which areas of the image contain the selected class</label>
            <select name="heatmap_class" class="form-control" id="exampleSelect1">
                <option>Blank</option>
                <option>Gray Mat.</option>
                <option>Lesion</option>
                <option>White Mat.</option>
            </select>
        </div>

        <button id="generate-heatmap-btn" type="submit" class="btn btn-success form-element">Generate heatmap
        </button>

    </form>

</div>

<div id="overlay">
    <h3>May take up to a minute to generate</h3>
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/app.js"></script>
</body>
</html>